:root {
    --red: red;
}

.root {
    text-align: center;
}

.logo {
    height: 80px;
}

.header {
    background-color: color(hsla(0, 100%, 0%, 1) alpha(0.5));
    color: white;
    padding: 24px;
}
